<!DOCTYPE html>
<html>
<head>
	<title>Add a new food</title>
</head>
<body>
<h1>Add a new Food</h1>
<form action="/food" method="POST">
	<input type="text" name="name" placeholder="Name">
	<button type="submit">Save</button>
</form>

</body>
</html>